# Data Science Tools and Ecosytems

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. ggplot2
2. Keras
3. Pandas

|Data Science Tools|
--------------------
|VS Code|
|Gitlab|
|Bootstrap|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
print("This a simple arithmetic expression to mutiply then add integers")
(3*4)+5

This a simple arithmetic expression to mutiply then add integers

17

In [7]:
print("This will convert 200 minutes to hours by diving by 60")
200/60

This will convert 200 minutes to hours by diving by 60

3.3333333333333335

**Objectives:**
- Using Markdown
- Formatting
- Creating tables and lists

## Author
Ross Jones